.Aboutme{
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top:6.5rem;
    
    .Intro{
        display: flex;
        .blur{
            position: absolute;
            top: -18vh;
            left: -15vw;
            width: 40vw;
            height: 40vw;
            z-index: 0;
        }
        .blur2{
            position: absolute;
            bottom: -10vh;
            right: -15vw;
            z-index: 0;
            width: 40vw;
            height: 40vw;
        }
        .left{
            flex: 1;
            margin: 5rem 14rem 0 4rem;
            z-index: 2;
            h1{
                font-family: DreamAvenue;
                font-size: 7vw;
                color: #fdbe00;
            }
            .name{
                background-color: rgba(255, 255, 255, 0.767);
                border-radius: 55px;
                h2 {
                    margin-top: 7vh;
                    font-family: TTDrugs;
                    border: 8px double #360808;
                    border-radius: 55px;
                    font-size: 2.4vw;
                    letter-spacing: 2px;
                    padding: 0.4rem;
                    text-align: center;
                    background: linear-gradient(to right,#ce9c06,#360808,#fdbe00,rgb(194, 73, 73));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    white-space: nowrap;
                    background-clip: text;
                    color: transparent;
                    background-size: 200%;
                    animation: background-pan 7s linear infinite;
                    @keyframes background-pan {
                        from{
                            background-position: 0% center;
                        }
                        to{
                            background-position: -200% center;
                        }
                    }
                  }
            }
        }
        .right{
            flex:1;
            z-index: 2;
        }
    }
   .stack{
    .Heading{
        display: flex;
        font-family: TTDrugs;
        font-size: 25px;
        color: #FDBF00;
        padding-top: 3rem;
        padding-left: 2rem;
       }
       .Cube{
        display: flex;
        padding: 30px 30px;
        align-items: center;
        margin-top: -12rem;
        gap: 5rem;
       .MyStack{
        flex: 1;
        position: relative;
        width: 50vw;
        margin-left: -35vw;
        margin-right: 15vw;
        @media only screen and (max-width: 700px){
            flex: 1;
            display: flex;
            height: 40vh;
            width: 100%;
            scale: 0.8;
            align-items: center;
            justify-content: center;
            margin-left: auto;
           margin-right: auto;
        }
     }
       .Video{
        flex:1;
        video{
        border: 2px solid #000000;
        border-radius: 15px;
        }
       }
    }
   }
   .WebDesign{
    display: flex;
    height: 100vh;
    margin: 0 5vw;
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 35vh;
        .text{
            margin-top: 8vh;
            gap: 5vh;
            display: flex;
            flex-direction: column;
            color: #FDBF00;
            font-family: TTDrugs;
            h1{
                font-size: 30px;
            }
            p{
                font-size: 17px;
            }
        }
    }
    .middle{
        flex: 2;
        position: relative;
        display: flex;
        align-items: center;
        .img1{
            position: absolute;
            z-index: 3;
            width: 20vw;
            height: auto;
            left: -5%;
        }
        .img2{
            position: absolute;
            width: 45vw;
            height: auto;
            
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img3{
            width: 20vw;
            height: auto;
        }
        .img4{
            width: 25vw;
            height: auto;
        }
    }
   }
}
