.home{
    margin-top: 6.5rem;
    .Hero{
        display: flex;
        width: 100%;
        height: 45vw;
        background-color: #A2A2A2;
        gap: 5rem;
        @media only screen and (max-width: 700px){
            height: 100vh;
            flex-direction: column;

        }
       .logo{
           position: absolute;
           z-index: 1;
           display: flex;
           height: 92vh;
           width: 100%;
           top: 0.5rem;
       }
       .right{
           flex: 1;
           z-index: 5;
           @media only screen and (max-width: 700px){
            display: none;
        }
        }
           .canvas{
               height: 80%;
               top: -15vh;
           }
       }
        .left{
           flex: 1;
           position: relative;
           .intro{
               z-index: 3;
               position: absolute;
               top: 8vh;
               left: 8vw;
               font-family: TTDrugs;
                .name{
                   h1{
                       color: #EEEEE6;
                       font-weight: 100;
                       line-height: 90%;
                       font-family: DreamAvenue;
                       font-size: 4.8em;
                       @media only screen and (max-width: 700px){
                            font-size: 3.8em;
                            text-align: center;
                            padding-right: 8vw;
                        }
                    }
                   h2{
                       color: #EEEEE6;
                       font-weight: 100;
                       font-size: 1.8em;
                       @media only screen and (max-width: 700px){
                            font-size: 1.8em;
                            text-align: center;
                            padding-right: 8vw;
                        }
                    }
                   p{
                       margin-top: 1.9em;
                       padding-right: 9rem;
                       color: #EEEEE6;
                       font-weight: 100;
                       font-size: 1.0em;
                       @media only screen and (max-width: 700px){
                            font-size: 1.2em;
                            text-align: center;
                            padding-right: 8vw;
                        }
                    }
                }
                .button{
                    span{
                        font-size: 0.9rem;
                        padding: 10px 10px;
                        border: 1px solid ;
                        font-family: TTDrugs;
                        font-weight: 300;
                        border-radius:50px ;
                        transition: background-color 0.3s ease-in-out;
                        position: absolute;
                        top: 2.5vh;
                        left: 0vw;
                        &:hover {
                            background-color: #FDBF00;
                            color: #360808;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .mycanvas{
            display: flex;
            width: 100%;
            height: 90vh ;
            background-color: #e0e0e0;
            @media only screen and (max-width: 700px){
            height: 100vh;
            flex-direction: column;
            gap: 2.5rem;
            position: relative;
            }
            .left{
                flex: 1;
                margin-left: 10vw;
                margin-top: 15vh;
                z-index: 1;
                color: #333333;
                @media only screen and (max-width: 700px){
                    margin-left: auto;
                    margin-top: 2rem;
                    flex: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                h1{
                    font-size: 4.8rem;
                    font-family: DreamAvenue;
                    font-weight: 100;
                    @media only screen and (max-width: 700px){
                        font-size: 3.8rem;
                    }
                }
                hr{
                    width: 80%;
                    border: 0.5px solid #333333;
                }
                h2{
                    font-weight: 100;
                    font-size: 2rem;
                    font-family: TTDrugs;
                    margin-top: 5rem;
                    padding-right: 15rem;
                    @media only screen and (max-width: 700px){
                       font-size: 1.8rem;
                       margin-top: 2rem ;
                       padding-right: 2rem;
                       text-align: center;
                    }
                }
                p{
                    margin-top: 2.5em;
                    padding-right: 9rem;
                    font-weight: 100;
                    font-size: 1.2rem;
                    font-family: TTDrugs;
                    @media only screen and (max-width: 700px){
                    font-size: 1rem;
                    margin-top: 2rem ;
                    padding-right: 2rem;
                    text-align: center
                }
                }
            }
            .right{
                flex: 1;
                background: #afafaf;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;
                height: auto;
                margin-right: -10vw;
                @media only screen and (max-width: 700px){
                    flex: 0; 
                    z-index: 1;
                     border-radius: 2%;
                     margin-right: auto;
                     width: 100%;
                     height: 100%;
                     overflow: visible;

                }
                .img{
                    width: 44vw;
                    border: 1px solid black;
                    border-radius: 5%;
                    overflow: hidden;
                    @media only screen and (max-width: 700px){
                        width: 100%;
                     height: auto;
                     border: none;
                     border-radius: 2%;
                    }
                }
            }
            .circle{
                width: 35vh;
                height: 35vh;
                border-radius: 50%;
                background-color: #FDBF00;
                display: flex;
                top: 65vh;
                right: 75vw;
                position: relative;
                z-index: 0;
                &:hover {
                    background-color: #360808;
                    scale: 1.05;
                }
                @media only screen and (max-width: 700px){
                display: none;
                }
            }
        }
   .mydesign{
            display: flex;
            width: 100%;
            height: 90vh ;
            align-items: center;
            background-color: #e0e0e0;
                @media only screen and (max-width: 700px){
                height: 100vh;
                display: flex;
                flex-direction: column-reverse;
                z-index: 0;
                justify-content: center;
                position: relative;
                }
               .right{
                flex: 1;
                z-index: 1;
                margin-right: -10vw;
                color: #333333;
                @media only screen and (max-width: 700px){
                    margin-right: 0;
                    flex: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    top: -50vh;
                }
                h1{
                    font-size: 4.8rem;
                    font-family: DreamAvenue;
                    font-weight: 100;
                    margin-top: 2rem;
                    margin-left: 2rem;
                    @media only screen and (max-width: 700px){
                        font-size: 3.8rem;
                        margin-top: 0;
                        margin-left: 0;
                    }
                }
                hr{
                    width: 80%;
                    margin-left: 2rem;
                    border: 0.5px solid 333333;
                }
                h2{
                    font-weight: 100;
                    font-size: 1.8rem;
                    font-family: TTDrugs;
                    margin-top: 5rem;
                    padding-right: 20rem;
                    margin-left: 2rem;
                    @media only screen and (max-width: 700px){
                        font-size: 1.8rem;
                        margin-top: 2rem ;
                        padding-right: 2rem;
                        text-align: center;
                     }
                }
                p{
                    margin-left: 2rem;
                    margin-top: 1.9em;
                    padding-right: 9rem;
                    font-weight: 100;
                    font-size: 1.2rem;
                    font-family: TTDrugs;
                    @media only screen and (max-width: 700px){
                        font-size: 1rem;
                        margin-top: 2rem ;
                        padding-right: 2rem;
                        text-align: center
                    }
                }
            }
        .left{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 3.5vh;
                border-radius: 50%;
                @media only screen and (max-width: 700px){
                    flex: 0; 
                     margin-right: 0;
                     width: 100%;
                     height: 100%;
                     overflow: visible;

                }
                .img{
                width: 60vh;
                    margin-top: 4.8rem;
                    @media only screen and (max-width: 700px){
                     height: auto;
                     width: 10vw;
                     margin-top: 0;

                    }
                }
            }
        .circle{
            width: 35vh;
            height: 35vh;
            border-radius: 50%;
            background-color: #360808;
            display: flex;
            top: 50vh;
            right: 10vw;
            position: relative;
            z-index: 0;
            &:hover {
                background-color: #FDBF00;
                scale: 1.05;
            }
        }
    }
   .contactme{
        display: flex;
        width: 100%;
        height: 100vh ;
        background-color: #A2A2A2;
        position: relative;
        justify-content: center;
        align-items: center;
        .right{
            position: absolute;
            background: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 4.8rem;
                font-family: DreamAvenue;
                font-weight: 100;
                margin-top: 2rem;
                margin-left: 2rem;
                color: #464646;
            }
            hr{
                width: 80%;
                margin-left: 2rem;
                border: 1px solid rgb(89, 89, 89);
            }
            h2{
                color: #464646;
                font-weight: 100;
                font-size: 1.8rem;
                font-family: TTDrugs;
                margin-top: 5rem;
                text-align: center;
            }
            p{
                margin-left: 2rem;
                margin-top: 1.9em;
                color:#464646;
                text-align: center;
                font-weight: 100;
                font-size: 1.2rem;
                font-family: TTDrugs;
                background-color: transparent;
            }
            .button{
                margin-left: 2rem;
                margin-top: 3rem;
                span{
                    font-size: 0.9rem;
                    padding: 10px 10px;
                    border: 1px solid black;
                    font-family: TTDrugs;
                    font-weight: 300;
                    border-radius:50px ;
                    transition: background-color 0.3s ease-in-out;
                    &:hover {
                        background-color: #360808;
                        color: #ffffff;
                    font-size: 1rem;
                    }
                }
            }
        }
    }
}